    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h4>Produtos Globo</h4>
                    <ul>
                        <li><a href="/categoria/g1">G1</a></li>
                        <li><a href="#">O Globo</a></li>
                        <li><a href="/categoria/valor">Valor Econômico</a></li>
                        <li><a href="/categoria/ge">GE</a></li>
                        <li><a href="#">Cartola FC</a></li>
                        <li><a href="/categoria/globoplay">GloboPlay</a></li>
                        <li><a href="/categoria/gshow">GShow</a></li>
                        <li><a href="#">Receitas</a></li>
                        <li><a href="/categoria/quem">Quem</a></li>
                    </ul>
                </div>
                
                <div class="footer-section">
                    <h4>Jornalismo</h4>
                    <ul>
                        <li><a href="#">Política</a></li>
                        <li><a href="#">Economia</a></li>
                        <li><a href="#">Mundo</a></li>
                        <li><a href="#">Ciência e Saúde</a></li>
                        <li><a href="#">Tecnologia</a></li>
                        <li><a href="#">Educação</a></li>
                    </ul>
                </div>
                
                <div class="footer-section">
                    <h4>Esporte</h4>
                    <ul>
                        <li><a href="#">Futebol</a></li>
                        <li><a href="#">Brasileirão</a></li>
                        <li><a href="#">Fórmula 1</a></li>
                        <li><a href="#">Vôlei</a></li>
                        <li><a href="#">Basquete</a></li>
                        <li><a href="#">Tênis</a></li>
                    </ul>
                </div>
                
                <div class="footer-section">
                    <h4>Entretenimento</h4>
                    <ul>
                        <li><a href="#">Novelas</a></li>
                        <li><a href="#">BBB</a></li>
                        <li><a href="#">The Voice</a></li>
                        <li><a href="#">Séries</a></li>
                        <li><a href="#">Cinema</a></li>
                        <li><a href="#">Música</a></li>
                    </ul>
                </div>
                
                <div class="footer-section">
                    <h4>Canais Globo</h4>
                    <ul>
                        <li><a href="#">TV Globo</a></li>
                        <li><a href="#">GloboNews</a></li>
                        <li><a href="#">SporTV</a></li>
                        <li><a href="#">GNT</a></li>
                        <li><a href="#">Multishow</a></li>
                        <li><a href="#">Viva</a></li>
                    </ul>
                </div>
                
                <div class="footer-section">
                    <h4>Parcerias</h4>
                    <ul>
                        <li><a href="#">Buser</a></li>
                        <li><a href="#">EmCasa</a></li>
                        <li><a href="#">Enjoei</a></li>
                        <li><a href="#">ZAP Imóveis</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-bottom">
                <div class="footer-info">
                    <p>&copy; 2024 Globo.com - Todos os direitos reservados</p>
                    <div class="footer-links">
                        <a href="#">Termos de Uso</a>
                        <a href="#">Política de Privacidade</a>
                        <a href="#">Anuncie Conosco</a>
                        <a href="#">Trabalhe Conosco</a>
                    </div>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>
